body {
  text-align:center;
  background-color: #bec1aa;
  font-family:'Bodoni MT';
  font-size: 17px;
  color:black;
}

label{
    font-size: 15px;
    width: 100px;
    display: inline-block;
    color:black;

}

img{
    border: 3px solid #f7f4eb;
}

form{
   border: solid;
   border-block-color: black;
}

li{
    list-style-type:none;
}
div {
    align-content:center;
    text-align:center;
    background-color: #f7f4eb;
    width: 800px;
    border: 2px #000000;
    color:black;
    white-space:normal;
}