@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission #3";
}


@*my main index home page*@
<link href="~/css/default.css" rel="stylesheet" />

<h1>Bailey Monson</h1>
<img src="img/IMG_1159.jpg" width="500" />
<p>Here is a photo of me on a safari in South Africa. I love to travel and since then have had a new love for the big 5 safari animals.</p>

<br />
<br />

<p>I hope to learn new skills from this IS 413 class that will help me in my future career. I also hope to find ways to utilize these skills and apply them in many different aspects of my life. I know that if I am able to apply these new skills to my future career I will be able to have a long and successful work life. </p>

<br />
<p>The top 3 jobs I hope to persue after graduation</p>
<ul>
    <li>Web developer</li>
    <li>Prodcut Manager</li>
    <li>UI/UX Designer</li>
</ul>
